
table {
    width: 400px;
    height: 400px;
}
td {
    text-align: center;
    cursor: pointer;
    font-family: monospace;
    border: solid 1px #CCC;
    background-color: #DDD;
}

td.clicked {
    background-color: #FFE;
}
td.clicked[data-value="*"] {
    background-color: #F00;
}
td.clicked[data-value="0"] {
    color: #CCC;
}
td.flagged {
    color: #090;
    background-color: #BBC;
}

